# Configuración de la base de datos
DB_HOST=database
DB_PORT=3306
DB_USER=user
DB_PASS=password
DB_NAME=restaurant_bd
MYSQL_ROOT_PASSWORD=rootpassword

# Configuración de Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Configuración de la aplicación
NODE_ENV=development
PORT=3000
JWT_SECRET=your-super-secret-key-here
JWT_EXPIRATION=3600